[Desktop Entry]
Name=Factorio Demo
Comment=Play this game on Steam
Exec=steam steam://rungameid/452280
Icon=steam_icon_452280
Terminal=false
Type=Application
Categories=Game;
