[Desktop Entry]
Name=GParted (Root)
Comment=GNOME Partition Editor
Exec=/home/detect/.local/bin/gparted-wrapper
Icon=gparted
Terminal=false
Type=Application
Categories=System;Filesystem;
Keywords=partition;
